beard/models/SVM
beard/models/Random_forest

beard/train_images/1004/face.obj
beard/train_images/1004/_face_cropped_0.png
beard/train_images/1009/face.obj
beard/train_images/1009/_face_cropped_0.png
beard/train_images/1015/face.obj
beard/train_images/1015/_face_cropped_0.png
beard/train_images/1051/face.obj
beard/train_images/1051/_face_cropped_0.png
beard/train_images/1068/face.obj
beard/train_images/1068/_face_cropped_0.png
beard/train_images/1112/face.obj
beard/train_images/1112/_face_cropped_1.png
beard/train_images/1118/face.obj
beard/train_images/1118/_face_cropped_1.png
beard/train_images/1129/face.obj
beard/train_images/1129/_face_cropped_0.png
beard/train_images/113/face.obj
beard/train_images/113/_face_cropped_0.png
beard/train_images/1132/face.obj
beard/train_images/1132/_face_cropped_0.png
beard/train_images/1199/face.obj
beard/train_images/1199/_face_cropped_1.png
beard/train_images/1203/face.obj
beard/train_images/1203/_face_cropped_1.png
beard/train_images/1210/face.obj
beard/train_images/1210/_face_cropped_1.png
beard/train_images/1222/face.obj
beard/train_images/1222/_face_cropped_0.png
beard/train_images/1262/face.obj
beard/train_images/1262/_face_cropped_1.png
beard/train_images/1279/face.obj
beard/train_images/1279/_face_cropped_1.png
beard/train_images/1312/face.obj
beard/train_images/1312/_face_cropped_0.png
beard/train_images/1391/face.obj
beard/train_images/1391/_face_cropped_1.png
beard/train_images/1397/face.obj
beard/train_images/1397/_face_cropped_0.png
beard/train_images/142/face.obj
beard/train_images/142/_face_cropped_0.png
beard/train_images/1519/face.obj
beard/train_images/1519/_face_cropped_1.png
beard/train_images/1523/face.obj
beard/train_images/1523/_face_cropped_0.png
beard/train_images/1531/face.obj
beard/train_images/1531/_face_cropped_0.png
beard/train_images/1536/face.obj
beard/train_images/1536/_face_cropped_0.png
beard/train_images/1558/face.obj
beard/train_images/1558/_face_cropped_1.png
beard/train_images/1565/face.obj
beard/train_images/1565/_face_cropped_0.png
beard/train_images/1612/face.obj
beard/train_images/1612/_face_cropped_0.png
beard/train_images/1662/face.obj
beard/train_images/1662/_face_cropped_0.png
beard/train_images/1726/face.obj
beard/train_images/1726/_face_cropped_0.png
beard/train_images/1733/face.obj
beard/train_images/1733/_face_cropped_1.png
beard/train_images/1749/face.obj
beard/train_images/1749/_face_cropped_1.png
beard/train_images/1802/face.obj
beard/train_images/1802/_face_cropped_1.png
beard/train_images/1830/face.obj
beard/train_images/1830/_face_cropped_0.png
beard/train_images/1887/face.obj
beard/train_images/1887/_face_cropped_1.png
beard/train_images/1956/face.obj
beard/train_images/1956/_face_cropped_1.png
beard/train_images/196/face.obj
beard/train_images/196/_face_cropped_0.png
beard/train_images/1978/face.obj
beard/train_images/1978/_face_cropped_1.png
beard/train_images/2137/face.obj
beard/train_images/2137/_face_cropped_0.png
beard/train_images/2166/face.obj
beard/train_images/2166/_face_cropped_0.png
beard/train_images/2265/face.obj
beard/train_images/2265/_face_cropped_0.png
beard/train_images/229/face.obj
beard/train_images/229/_face_cropped_0.png
beard/train_images/2303/face.obj
beard/train_images/2303/_face_cropped_1.png
beard/train_images/2304/face.obj
beard/train_images/2304/_face_cropped_0.png
beard/train_images/2342/face.obj
beard/train_images/2342/_face_cropped_1.png
beard/train_images/2409/face.obj
beard/train_images/2409/_face_cropped_1.png
beard/train_images/2437/face.obj
beard/train_images/2437/_face_cropped_1.png
beard/train_images/247/face.obj
beard/train_images/247/_face_cropped_0.png
beard/train_images/249/face.obj
beard/train_images/249/_face_cropped_0.png
beard/train_images/2548/face.obj
beard/train_images/2548/_face_cropped_1.png
beard/train_images/2607/face.obj
beard/train_images/2607/_face_cropped_1.png
beard/train_images/288/face.obj
beard/train_images/288/_face_cropped_1.png
beard/train_images/292/face.obj
beard/train_images/292/_face_cropped_1.png
beard/train_images/293/face.obj
beard/train_images/293/_face_cropped_0.png
beard/train_images/2950/face.obj
beard/train_images/2950/_face_cropped_1.png
beard/train_images/2961/face.obj
beard/train_images/2961/_face_cropped_0.png
beard/train_images/30/face.obj
beard/train_images/30/_face_cropped_1.png
beard/train_images/3012/face.obj
beard/train_images/3012/_face_cropped_1.png
beard/train_images/3034/face.obj
beard/train_images/3034/_face_cropped_0.png
beard/train_images/3129/face.obj
beard/train_images/3129/_face_cropped_1.png
beard/train_images/3156/face.obj
beard/train_images/3156/_face_cropped_1.png
beard/train_images/3183/face.obj
beard/train_images/3183/_face_cropped_0.png
beard/train_images/3206/face.obj
beard/train_images/3206/_face_cropped_1.png
beard/train_images/3212/face.obj
beard/train_images/3212/_face_cropped_1.png
beard/train_images/3224/face.obj
beard/train_images/3224/_face_cropped_0.png
beard/train_images/3303/face.obj
beard/train_images/3303/_face_cropped_0.png
beard/train_images/3323/face.obj
beard/train_images/3323/_face_cropped_1.png
beard/train_images/334/face.obj
beard/train_images/334/_face_cropped_0.png
beard/train_images/3357/face.obj
beard/train_images/3357/_face_cropped_0.png
beard/train_images/336/face.obj
beard/train_images/336/_face_cropped_1.png
beard/train_images/3389/face.obj
beard/train_images/3389/_face_cropped_1.png
beard/train_images/34/face.obj
beard/train_images/34/_face_cropped_1.png
beard/train_images/3470/face.obj
beard/train_images/3470/_face_cropped_1.png
beard/train_images/3552/face.obj
beard/train_images/3552/_face_cropped_0.png
beard/train_images/3576/face.obj
beard/train_images/3576/_face_cropped_1.png
beard/train_images/3641/face.obj
beard/train_images/3641/_face_cropped_0.png
beard/train_images/3677/face.obj
beard/train_images/3677/_face_cropped_1.png
beard/train_images/37/face.obj
beard/train_images/37/_face_cropped_0.png
beard/train_images/373/face.obj
beard/train_images/373/_face_cropped_1.png
beard/train_images/375/face.obj
beard/train_images/375/_face_cropped_1.png
beard/train_images/3823/face.obj
beard/train_images/3823/_face_cropped_0.png
beard/train_images/3881/face.obj
beard/train_images/3881/_face_cropped_1.png
beard/train_images/3886/face.obj
beard/train_images/3886/_face_cropped_1.png
beard/train_images/3892/face.obj
beard/train_images/3892/_face_cropped_1.png
beard/train_images/39/face.obj
beard/train_images/39/_face_cropped_0.png
beard/train_images/3909/face.obj
beard/train_images/3909/_face_cropped_1.png
beard/train_images/3929/face.obj
beard/train_images/3929/_face_cropped_1.png
beard/train_images/3939/face.obj
beard/train_images/3939/_face_cropped_0.png
beard/train_images/3960/face.obj
beard/train_images/3960/_face_cropped_1.png
beard/train_images/4028/face.obj
beard/train_images/4028/_face_cropped_1.png
beard/train_images/4069/face.obj
beard/train_images/4069/_face_cropped_0.png
beard/train_images/4089/face.obj
beard/train_images/4089/_face_cropped_1.png
beard/train_images/409/face.obj
beard/train_images/409/_face_cropped_1.png
beard/train_images/410/face.obj
beard/train_images/410/_face_cropped_1.png
beard/train_images/4237/face.obj
beard/train_images/4237/_face_cropped_1.png
beard/train_images/4260/face.obj
beard/train_images/4260/_face_cropped_0.png
beard/train_images/4283/face.obj
beard/train_images/4283/_face_cropped_0.png
beard/train_images/43/face.obj
beard/train_images/43/_face_cropped_0.png
beard/train_images/4374/face.obj
beard/train_images/4374/_face_cropped_1.png
beard/train_images/4398/face.obj
beard/train_images/4398/_face_cropped_1.png
beard/train_images/4404/face.obj
beard/train_images/4404/_face_cropped_1.png
beard/train_images/4436/face.obj
beard/train_images/4436/_face_cropped_0.png
beard/train_images/4455/face.obj
beard/train_images/4455/_face_cropped_1.png
beard/train_images/4523/face.obj
beard/train_images/4523/_face_cropped_0.png
beard/train_images/456/face.obj
beard/train_images/456/_face_cropped_0.png
beard/train_images/459/face.obj
beard/train_images/459/_face_cropped_1.png
beard/train_images/4590/face.obj
beard/train_images/4590/_face_cropped_1.png
beard/train_images/4596/face.obj
beard/train_images/4596/_face_cropped_1.png
beard/train_images/4624/face.obj
beard/train_images/4624/_face_cropped_0.png
beard/train_images/466/face.obj
beard/train_images/466/_face_cropped_0.png
beard/train_images/4673/face.obj
beard/train_images/4673/_face_cropped_0.png
beard/train_images/4734/face.obj
beard/train_images/4734/_face_cropped_1.png
beard/train_images/4738/face.obj
beard/train_images/4738/_face_cropped_1.png
beard/train_images/475/face.obj
beard/train_images/475/_face_cropped_0.png
beard/train_images/476/face.obj
beard/train_images/476/_face_cropped_0.png
beard/train_images/4836/face.obj
beard/train_images/4836/_face_cropped_1.png
beard/train_images/505/face.obj
beard/train_images/505/_face_cropped_0.png
beard/train_images/544/face.obj
beard/train_images/544/_face_cropped_1.png
beard/train_images/554/face.obj
beard/train_images/554/_face_cropped_0.png
beard/train_images/564/face.obj
beard/train_images/564/_face_cropped_0.png
beard/train_images/575/face.obj
beard/train_images/575/_face_cropped_1.png
beard/train_images/581/face.obj
beard/train_images/581/_face_cropped_0.png
beard/train_images/582/face.obj
beard/train_images/582/_face_cropped_0.png
beard/train_images/588/face.obj
beard/train_images/588/_face_cropped_0.png
beard/train_images/612/face.obj
beard/train_images/612/_face_cropped_0.png
beard/train_images/624/face.obj
beard/train_images/624/_face_cropped_1.png
beard/train_images/657/face.obj
beard/train_images/657/_face_cropped_0.png
beard/train_images/669/face.obj
beard/train_images/669/_face_cropped_0.png
beard/train_images/671/face.obj
beard/train_images/671/_face_cropped_1.png
beard/train_images/694/face.obj
beard/train_images/694/_face_cropped_0.png
beard/train_images/717/face.obj
beard/train_images/717/_face_cropped_0.png
beard/train_images/729/face.obj
beard/train_images/729/_face_cropped_0.png
beard/train_images/740/face.obj
beard/train_images/740/_face_cropped_0.png
beard/train_images/741/face.obj
beard/train_images/741/_face_cropped_0.png
beard/train_images/756/face.obj
beard/train_images/756/_face_cropped_1.png
beard/train_images/762/face.obj
beard/train_images/762/_face_cropped_0.png
beard/train_images/772/face.obj
beard/train_images/772/_face_cropped_1.png
beard/train_images/788/face.obj
beard/train_images/788/_face_cropped_1.png
beard/train_images/796/face.obj
beard/train_images/796/_face_cropped_0.png
beard/train_images/801/face.obj
beard/train_images/801/_face_cropped_0.png
beard/train_images/865/face.obj
beard/train_images/865/_face_cropped_1.png
beard/train_images/883/face.obj
beard/train_images/883/_face_cropped_0.png
beard/train_images/885/face.obj
beard/train_images/885/_face_cropped_0.png
beard/train_images/888/face.obj
beard/train_images/888/_face_cropped_0.png
beard/train_images/890/face.obj
beard/train_images/890/_face_cropped_0.png
beard/train_images/934/face.obj
beard/train_images/934/_face_cropped_0.png
beard/train_images/946/face.obj
beard/train_images/946/_face_cropped_0.png
beard/train_images/954/face.obj
beard/train_images/954/_face_cropped_1.png
beard/train_images/96/face.obj
beard/train_images/96/_face_cropped_1.png
beard/train_images/962/face.obj
beard/train_images/962/_face_cropped_0.png
beard/train_images/97/face.obj
beard/train_images/97/_face_cropped_0.png
beard/train_images/970/face.obj
beard/train_images/970/_face_cropped_1.png
beard/train_images/976/face.obj
beard/train_images/976/_face_cropped_0.png
beard/train_images/981/face.obj
beard/train_images/981/_face_cropped_1.png
beard/test_images/Avatar-7a2eea76-3d59-4427-8abe-0df12c8c59bc/_face_cropped_1.png
beard/test_images/Avatar-7a2eea76-3d59-4427-8abe-0df12c8c59bc/face.obj
beard/test_images/Avatar-8d305167-3f04-4eae-8393-05e19bc90b7e/_face_cropped_1.png
beard/test_images/Avatar-8d305167-3f04-4eae-8393-05e19bc90b7e/face.obj
beard/test_images/Avatar-62a19335-de4f-40ad-8ace-be70a9f291de/_face_cropped_1.png
beard/test_images/Avatar-62a19335-de4f-40ad-8ace-be70a9f291de/face.obj
beard/test_images/Avatar-561c3389-1ade-4204-97af-024bb59cbbb1/_face_cropped_1.png
beard/test_images/Avatar-561c3389-1ade-4204-97af-024bb59cbbb1/face.obj
beard/test_images/Avatar-129671d0-27e5-408e-9fc6-28b4ee20b0f8/_face_cropped_1.png
beard/test_images/Avatar-129671d0-27e5-408e-9fc6-28b4ee20b0f8/face.obj
beard/test_images/Avatar-5290259c-a83c-4b4d-b627-61c5a7455b13/_face_cropped_1.png
beard/test_images/Avatar-5290259c-a83c-4b4d-b627-61c5a7455b13/face.obj
beard/test_images/Avatar-a0344d25-760d-4cc6-9384-ecc8a173272b/_face_cropped_1.png
beard/test_images/Avatar-a0344d25-760d-4cc6-9384-ecc8a173272b/face.obj
beard/test_images/Avatar-b454d6f5-877d-44b2-9f3d-98ea1e0a9c9b/_face_cropped_1.png
beard/test_images/Avatar-b454d6f5-877d-44b2-9f3d-98ea1e0a9c9b/face.obj
beard/test_images/Avatar-d180c627-7f76-4ba2-9a8a-4492e562a20f/_face_cropped_1.png
beard/test_images/Avatar-d180c627-7f76-4ba2-9a8a-4492e562a20f/face.obj
beard/test_images/Avatar-dabfd623-ed24-4b5a-936f-bcee01fd2a5b/_face_cropped_1.png
beard/test_images/Avatar-dabfd623-ed24-4b5a-936f-bcee01fd2a5b/face.obj
beard/test_images/Avatar-e01a1c46-1eb3-4a17-915a-96b431a9e0c4/_face_cropped_1.png
beard/test_images/Avatar-e01a1c46-1eb3-4a17-915a-96b431a9e0c4/face.obj
beard/test_images/Avatar-e66d3d13-843b-4bef-ab7f-d0b315bf031a/_face_cropped_1.png
beard/test_images/Avatar-e66d3d13-843b-4bef-ab7f-d0b315bf031a/face.obj